@font-face {
  font-display: swap;
  font-family: "inc mono";
  font-style: normal;
  font-weight: 400;
  src: url("../type/400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "inc mono";
  font-style: italic;
  font-weight: 400;
  src: url("../type/400i.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "inc mono";
  font-style: normal;
  font-weight: 600;
  src: url("../type/600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "inc mono";
  font-style: italic;
  font-weight: 600;
  src: url("../type/600i.woff2") format("woff2");
}
